@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://kit.fontawesome.com/0a71e81b23.js');

/* your CSS styles */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 1600px;
    height: 837px;
    margin: 0 auto;
    background: rgb(255, 248, 243);
    position: relative;
    z-index: -3;
}

.header > .developer-png {
    position: absolute;
    top: 38px;
    left: 23px;
}

/* NAVIGATION BAR STYLES START */
/* Navigation Bar Styles */

.navbar {
  margin-top: 68px;
  margin: 0 226px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar-logo > .highlight {
  color: rgb(253, 110, 10);
}

.navbar-nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.nav-item {
  list-style: none;
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}

.nav-link {
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}

/* Button Styles */

.btn {
  border-radius: 5px;
  background: rgb(253, 110, 10);
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  padding: 18px 36px;
}


/* Hero Section Styles */

.hero {
  height: 725px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  margin: 0 226px;
}

.hero-text-part {
  margin-top: 60px;
}

.hero-subtitle {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 5px;
}

.hero-title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}


.hero-button-download {
  border-radius: 5px;
  padding: 20px 24px;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(253, 110, 10);
  margin-right: 30px;
  border: none;
}

.hero-button-contact {
  color: rgb(253, 110, 10);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  padding: 20px 24px;
  box-sizing: border-box;
  border: 1px solid rgb(253, 110, 10);
  border-radius: 5px;
  background-color: transparent;
}

.hero-image-part > .mary-profile {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.hero-image-part > .mary-background {
  position: absolute;
  bottom: 0px;
  right: 38px;
  z-index: 1;
}



/* about section start */
.about {
  width: 1140px;
  height: 550px;
  border-radius: 10px;
  margin: 130px auto;
  background: rgb(255, 248, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-inner {
  width: 827px;
  background: rgb(255, 255, 255);
  padding: 20px;
}

.about-title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.about-description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;

}

.personal-info-container {
  display: flex;
  gap: 47.5px;
  text-align: center;
  justify-content: center;
}

.info-items > h3 {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.info-items > p {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

/* skills section */

.skills {
  margin-top: 130px;
  width: 1140px;
  margin: 0 auto;
  height: auto;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.skills-title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.skills-description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 50px;
  width: 909px;

  
}

.skill-item {
  width: 267px;
  height: auto;
  border-radius: 5px; 
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 30px;
}


.skills-container > .description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  width: 1140px;
}

.skills-container h3 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin: 20px 0;
}


.skill-item > .description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.resume {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.edu-exp-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 50px;
}

.resume > h2 {
  margin: 130px 0 113px 0;
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.education-section > h3,
.experience-section > h3 {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}

.education-section-item > h4,
.experience-section-item > h4 {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.education-section-item > hr,
.experience-section-item > hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.education-section-item > h5,
.experience-section-item > h5 {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}

.education-section-item > p,
.experience-section-item > p {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  width: 511px;
}

.resume > button {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 5px;
  padding: 19px 17px;
  background: rgb(253, 110, 10);
  border: none;
  margin-bottom: 130px;
}

.footer {
  width: 1600px;
  margin: 0 auto;
  height: 780px;
  background: rgb(255, 248, 243);
}


.footer-container {
  margin: 0 230px;
  display: flex;
  justify-content: space-between;
}

.footer-container h2 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 130px;
  margin-bottom: 20px;
}

.footer-container p {
  color: rgb(71, 71, 71);
  width: 562px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;   
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer .input-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-container > input {
  border-radius: 5px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  width: 461px;
  border: none;
  background: rgb(255, 255, 255);
}

.input-container > textarea {
  border-radius: 5px;
  width: 461px;
  height: 180px;
  background: rgb(255, 255, 255);
  padding-top: 18px;
  padding-left: 30px;
  border: none;
  
}

.input-container > button {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 5px;
  width: 150px;
  height: 64px;
  background: rgb(253, 110, 10);
  border: none;
  padding: 18px 39px;
}

.footer-left > .icon-container {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  margin-left: 0;
}